/* MEDIA QUERIES */ 
@media only screen and (orientation: landscape) {
    .header {
        height: 900px;
    }
  }
/*
@media screen and (max-width: 992px) {
    body {
      background-color: cadetblue;
    }
    h1 {
        font-size: larger;
    }
    .flex-container {
        flex-direction: column;
    }
  }
  
@media screen and (max-width: 600px) {
    body {
      background-color: teal;
    }

    .flex-container {
        flex-direction: column;
    }
  }
*/
/* MAINPAGE ELEMENTS */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(134, 170, 172);
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div {
    display: block;
}

/* LINKS */
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* NAVIGATION BAR */
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: sticky;
    top: 0;
    padding-top: 10px;
    margin-top: -5px;
    z-index: 1;
}

.navbar a {
    color: #eee;
    display: block;
    text-transform: uppercase;
}

.navbar li {
    float: right;
    padding: 0 10px;
    margin-top: -10px;
    list-style-type: none;
}

.navbar li:first-child {
    float: left;
}

.navbar li:first-child a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

/* HEADER SECTION */
.header::after {
    clear: both;
}

.header {
    padding-top: 90px;
    margin-top: -60px;
    overflow: hidden;
    background-color: #141414;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #eee;
    font-size: 60px;
}

/* FOOTER */
.footer {
    padding: 40px;
    background-color: #141414;
    color: #eee;
}

/* FLEX  */
.flex-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(65deg, rgba(175, 150, 187, 0.9) 0%, rgb(81, 119, 124)100%);
    height: 100%;
    align-content: center;
    padding: 20px;
    padding-top: 90px;
    margin-top: -85px;
}

.flex-item {
    background-color: #ccc;
    padding: 15px;
    margin: 10px;
}

.flex-item.left {
    width: 70%;
    flex-direction: column;
}

.flex-item.right {
    width: 30%;
    flex-direction: column;
}

    /* ANIMATIONS */
        /* strobe */
@keyframes strobe {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    1% {
        opacity: 0;
        transform: scale(1.1);
    }
    2% {
        opacity: 1;
        transform: scale(1.2);
    }
    3% {
        opacity: 0;
        transform: scale(1.3);
    }
    4% {
        opacity: 1;
        transform: scale(1.4);
    }
    5% {
        opacity: 0;
        transform: scale(1.5);
    }
    6% {
        opacity: 1;
        transform: scale(1.6);
    }
    7% {
        opacity: 0;
        transform: scale(1.7);
    }
    8% {
        opacity: 1;
        transform: scale(1.8);
    }
    9% {
        opacity: 0;
        transform: scale(1.9);
    }
    10% {
        opacity: 1;
        transform: scale(2);
    }
    11% {
        opacity: 0;
        transform: scale(2.1);
    }
    12% {
        opacity: 1;
        transform: scale(2.2);
    }
    13% {
        opacity: 0;
        transform: scale(2.3);
    }
    14% {
        opacity: 1;
        transform: scale(2.4);
    }
    15% {
        opacity: 0;
        transform: scale(2.5);
    }
    16% {
        opacity: 1;
        transform: scale(2.6);
    }
    17% {
        opacity: 0;
        transform: scale(2.7);
    }
    18% {
        opacity: 1;
        transform: scale(2.8);
    }
    19% {
        opacity: 0;
        transform: scale(2.9);
    }
    20% {
        opacity: 1;
        transform: scale(3);
    }
    21% {
        opacity: 0;
        transform: scale(3.1);
    }
    22% {
        opacity: 1;
        transform: scale(3.2);
    }
    23% {
        opacity: 0;
        transform: scale(3.3);
    }
    24% {
        opacity: 1;
        transform: scale(3.4);
    }
    25% {
        opacity: 0;
        transform: scale(3.5);
    }
    26% {
        opacity: 1;
        transform: scale(3.6);
    }
    27% {
        opacity: 0;
        transform: scale(3.7);
    }
    28% {
        opacity: 1;
        transform: scale(3.8);
    }
    29% {
        opacity: 0;
        transform: scale(3.9);
    }
    30% {
        opacity: 1;
        transform: scale(4);
    }
    31% {
        opacity: 0;
        transform: scale(4.1);
    }
    32% {
        opacity: 1;
        transform: scale(4.2);
    }
    33% {
        opacity: 0;
        transform: scale(4.3);
    }
    34% {
        opacity: 1;
        transform: scale(4.4);
    }
    35% {
        opacity: 0;
        transform: scale(4.5);
    }
    36% {
        opacity: 1;
        transform: scale(4.6);
    }
    37% {
        opacity: 0;
        transform: scale(4.7);
    }
    38% {
        opacity: 1;
        transform: scale(4.8);
    }
    39% {
        opacity: 0;
        transform: scale(4.9);
    }
    40% {
        opacity: 1;
        transform: scale(5);
    }
    41% {
        opacity: 0;
        transform: scale(5.1);
    }
    42% {
        opacity: 1;
        transform: scale(5.2);
    }
    43% {
        opacity: 0;
        transform: scale(5.3);
    }
    44% {
        opacity: 1;
        transform: scale(5.4);
    }
    45% {
        opacity: 0;
        transform: scale(5.5);
    }
    46% {
        opacity: 1;
        transform: scale(5.6);
    }
    47% {
        opacity: 0;
        transform: scale(5.7);
    }
    48% {
        opacity: 1;
        transform: scale(5.8);
    }
    49% {
        opacity: 0;
        transform: scale(5.9);
    }
    50% {
        opacity: 1;
        transform: scale(6);
    }
    51% {
        opacity: 0;
        transform: scale(6.1);
    }
    52% {
        opacity: 1;
        transform: scale(6.2);
    }
    53% {
        opacity: 0;
        transform: scale(6.3);
    }
    54% {
        opacity: 1;
        transform: scale(6.4);
    }
    55% {
        opacity: 0;
        transform: scale(6.5);
    }
    56% {
        opacity: 1;
        transform: scale(6.6);
    }
    57% {
        opacity: 0;
        transform: scale(6.7);
    }
    58% {
        opacity: 1;
        transform: scale(6.8);
    }
    59% {
        opacity: 0;
        transform: scale(6.9);
    }
    60% {
        opacity: 1;
        transform: scale(7);
    }
    61% {
        opacity: 0;
        transform: scale(7.1);
    }
    62% {
        opacity: 1;
        transform: scale(7.2);
    }
    63% {
        opacity: 0;
        transform: scale(7.3);
    }
    64% {
        opacity: 1;
        transform: scale(7.4);
    }
    65% {
        opacity: 0;
        transform: scale(7.5);
    }
    66% {
        opacity: 1;
        transform: scale(7.6);
    }
    67% {
        opacity: 0;
        transform: scale(7.7);
    }
    68% {
        opacity: 1;
        transform: scale(7.8);
    }
    69% {
        opacity: 0;
        transform: scale(7.9);
    }
    70% {
        opacity: 1;
        transform: scale(8);
    }
    71% {
        opacity: 0;
        transform: scale(8.1);
    }
    72% {
        opacity: 1;
        transform: scale(8.2);
    }
    73% {
        opacity: 0;
        transform: scale(8.3);
    }
    74% {
        opacity: 1;
        transform: scale(8.4);
    }
    75% {
        opacity: 0;
        transform: scale(8.5);
    }
    76% {
        opacity: 1;
        transform: scale(8.6);
    }
    77% {
        opacity: 0;
        transform: scale(8.7);
    }
    78% {
        opacity: 1;
        transform: scale(8.8);
    }
    79% {
        opacity: 0;
        transform: scale(8.9);
    }
    80% {
        opacity: 1;
        transform: scale(9);
    }
    81% {
        opacity: 0;
        transform: scale(9.1);
    }
    82% {
        opacity: 1;
        transform: scale(9.2);
    }
    83% {
        opacity: 0;
        transform: scale(9.3);
    }
    84% {
        opacity: 1;
        transform: scale(9.4);
    }
    85% {
        opacity: 0;
        transform: scale(9.5);
    }
    86% {
        opacity: 1;
        transform: scale(9.6);
    }
    87% {
        opacity: 0;
        transform: scale(9.7);
    }
    88% {
        opacity: 1;
        transform: scale(9.8);
    }
    89% {
        opacity: 0;
        transform: scale(9.9);
    }
    90% {
        opacity: 1;
        transform: scale(10);
    }
    91% {
        opacity: 0;
        transform: scale(10.1);
    }
    92% {
        opacity: 1;
        transform: scale(10.2);
    }
    93% {
        opacity: 0;
        transform: scale(10.3);
    }
    94% {
        opacity: 1;
        transform: scale(10.4);
    }
    95% {
        opacity: 0;
        transform: scale(10.5);
    }
    96% {
        opacity: 1;
        transform: scale(10.6);
    }
    97% {
        opacity: 0;
        transform: scale(10.7);
    }
    98% {
        opacity: 1;
        transform: scale(10.8);
    }
    99% {
        opacity: 0;
        transform: scale(10.9);
    }
    100% {
        opacity: 1;
        transform: 1;
    }
    }
    
    .strobe {
    animation-timing-function: ease-in-out;
    animation-name: strobe;
    animation-duration: 6s;
    }
          
        /* fontalicious */
@keyframes fontalicious {

    0% {
      font-family: helvetica;
    }
  
    10% {
      font-family: times;
    }
  
    20% {
      font-family: fantasy;
    }
  
    30% {
      font-family: monospace;
    }
  
    40% {
      font-family: Palatino;
    }
  
    50% {
      font-family: Tahoma
    }
  
    60% {
      font-family: impact;
    }
  
    70% {
      font-family: cursive;
    }
  
    80% {
      font-family: monospace;
    }
  
    90% {
      font-family: fantasy;
    }
  
    99% {
      font-family: futura;
    }
  
    100% {
    }
  
  
  }
  
  .fontalicious {
    animation-name: fontalicious;
    animation-iteration-count: 7;
    animation-duration: 5s;
  }

        /* vawe */
.tile--css_animations__demo3 {
    background: rgb(20, 20, 20);
    overflow: hidden;
    padding-top: 50px;
}
.tile--css_animations__demo3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 78%;
    overflow: hidden;
}
.tile--css_animations__demo3 div {
    margin-top: -17%;
    height: 34%;
    width: 2%;
    top: 30%;
    border-radius: 20px;
    position: absolute;
}
.tile--css_animations__demo3 div:nth-of-type(1) {
    animation: wave 17s 0.000s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(2) {
    animation: wave 17s -16.227s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(3) {
    animation: wave 17s -15.455s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(4) {
    animation: wave 17s -14.682s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(5) {
    animation: wave 17s -13.909s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(6) {
    animation: wave 17s -13.136s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(7) {
    animation: wave 17s -12.364s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(8) {
    animation: wave 17s -11.591s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(9) {
    animation: wave 17s -10.818s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(10) {
    animation: wave 17s -10.045s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(11) {
    animation: wave 17s -9.273s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(12) {
    animation: wave 17s -8.500s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(13) {
    animation: wave 17s -7.727s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(14) {
    animation: wave 17s -6.955s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(15) {
    animation: wave 17s -6.182s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(16) {
    animation: wave 17s -5.409s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(17) {
    animation: wave 17s -4.636s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(18) {
    animation: wave 17s -3.864s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(19) {
    animation: wave 17s -3.091s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(20) {
    animation: wave 17s -2.318s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(21) {
    animation: wave 17s -1.545s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(22) {
    animation: wave 17s -0.773s linear infinite;
}
@keyframes wave {
    0% {
        left: -2%;
        background: #3B44D1;
    }
    5% {
        background: #9337FE;
    }
    10% {
        height: 10%;
        margin-top: -5%;
        background: #C532FC;
    }
    15% {
        background: #F639F8;
    }
    20% {
        height: 34%;
        margin-top: -17%;
        background: #F236C8;
    }
    25% {
        background: #FF2F8D;
    }
    30% {
        height: 10%;
        margin-top: -5%;
        background: #EE3860;
    }
    35% {
        background: #DC5245;
    }
    40% {
        height: 34%;
        margin-top: -17%;
        background: #F38643;
    }
    45% {
        background: #F8B435;
    }
    50% {
        height: 10%;
        margin-top: -5%;
        background: #FAF444;
    }
    55% {
        background: #E0FF3B;
    }
    60% {
        height: 34%;
        margin-top: -17%;
        background: #E1FF3C;
    }
    65% {
        background: #46F443;
    }
    70% {
        height: 10%;
        margin-top: -5%;
        background: #54E67B;
    }
    75% {
        background: #4DF3A9;
    }
    80% {
        height: 34%;
        margin-top: -17%;
        background: #3AF9DA;
    }
    85% {
        background: #36EBF4;
    }
    90% {
        height: 10%;
        margin-top: -5%;
        background: #3DB3F3;
    }
    95% {
        background: #3C82F1;
    }
    100% {
        height: 34%;
        margin-top: -17%;
        left: 100%;
        background: #5B38EE;
    }
}

